*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: rgb(210, 201, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    width: 40%;
    background-color: rgb(26, 24, 49);
    color: white;
    padding: 40px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}


.close{
    position: absolute;
    top: 10px;
    right: 15px;
    color: thistle;
}

.box{
    background-color: rgb(39, 37, 70);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 16px 70px;
}

h3{
    font-size: 13px;
    margin: 10px 0px;
    text-align: center;
}

.stars{
    display: flex;
    justify-content: center;
    align-items: center;
}

.stars div{
    padding: 0px 15px;
    font-size: 20px;
}

.calification{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
}

.calification p{
    color: rgb(92, 89, 131);
}

.home{
    background-color: rgb(100, 24, 170);
}

h2{
    text-align: center;
    margin-bottom: 50px;
    font-size: 16px;
}

.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

button{
    border: none;
    padding: 13px 60px;
    border-radius: 6px;
}

.home{
    color: white;
    font-size: 12px;
}

.join{
    color: rgb(92, 89, 131);
    background-color: transparent;
    font-size: 10px;
    margin-top: 10px;
}










